In [1]:
import pandas as pd
import numpy as np
from astroquery.mast import Observations

In [2]:
df = pd.read_csv("full_tce_list.csv")
df.head(10)

,TCE_ID,rv_score,disposition,not_transit,stellar_eclipse,centroid_offset,ephemeris,other,Data_Set,KIC,...,alb_alt,alb_alt_perr,alb_alt_merr,mod_depth_pri_alt,mod_depth_sec_alt,mod_ph_sec_alt,mod_ph_ter_alt,sdepthsig_dv,sdepthsig_alt,radius_ratio
0,000757099-01,0.000,FP,1,0,0,0,LPP_DV---LPP_ALT---MOD_NONUNIQ_DV,OBS,757099,...,0.795,0.941,0.384,0.001129,0.000402,0.540894,0.000000,0.000000,0.000000,1.076020
1,000757450-01,0.999,PC,0,0,0,0,NaN,OBS,757450,...,2.457,0.574,0.579,0.015339,0.000094,0.405275,0.769840,0.168748,0.113356,0.080825
2,000892376-01,0.000,FP,1,0,0,0,INDIV_TRANS_CHASES_MARSHALL---LPP_DV---ALL_TRA...,OBS,892376,...,20564.039,15540.262,6765.046,0.000820,0.000309,0.627224,0.404876,-1.000000,-1.000000,0.305556
3,000892376-02,0.000,FP,1,0,0,0,LPP_DV---MOD_NONUNIQ_DV---CENT_KIC_POS,OBS,892376,...,12.150,9.061,4.186,0.000111,0.000030,0.504963,0.000000,0.016516,0.033440,0.876812
4,000892376-03,0.000,FP,1,0,0,0,INDIV_TRANS_RUBBLE---TRANS_GAPPED---LPP_DV---L...,OBS,892376,...,2766.420,26284.655,2185.186,0.001205,0.000971,0.713854,0.856854,-1.000000,-1.000000,0.123975
5,000892376-04,0.000,FP,1,0,0,0,INDIV_TRANS_RUBBLE_CHASES_MARSHALL---LPP_DV---...,OBS,892376,...,76350.330,557843.410,57444.288,0.001447,0.004384,0.909749,0.911610,-1.000000,-1.000000,0.110000
6,000892376-05,0.000,FP,1,0,0,0,INDIV_TRANS_RUBBLE---TRANS_GAPPED---LPP_DV---L...,OBS,892376,...,47631.028,70768.627,21889.876,0.002008,0.002940,0.334042,0.115254,-1.000000,-1.000000,0.347701
7,000892376-06,0.000,FP,1,0,0,0,INDIV_TRANS_RUBBLE_SKYE---TRANS_GAPPED---LPP_D...,OBS,892376,...,4907.320,69700.550,3671.734,0.000853,0.003033,0.851404,0.107312,-1.000000,-1.000000,0.122222
8,000892667-01,0.000,FP,1,0,0,0,LPP_DV,OBS,892667,...,0.000,0.331,0.592,0.000161,0.000000,0.496062,0.000000,0.120810,0.213151,1.817582
9,000892772-01,0.000,FP,0,0,1,0,CENT_RESOLVED_OFFSET---HALO_GHOST,OBS,892772,...,39.126,73.350,20.964,0.000239,0.000043,0.523557,0.077867,0.309856,0.413671,0.528873

In [3]:
df = df.rename(columns={"KIC": "kic"})

In [4]:
len(df["kic"].unique())

16736

In [5]:
# import table that matches TICs with KICs
df_tic = pd.read_csv("CTL_v8_ExoFOP-TESS.csv", usecols=["id", "kic"])

/Users/deanwang/anaconda3/envs/triceratops/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0,10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
df_tic.head()

         id  kic
0      long  int
1       NaN  NaN
2       NaN  NaN
3  38511816  NaN
4  38511909  NaN

In [7]:
# first three rows don't contain data
df_tic = df_tic[3:]

In [8]:
df_tic

                id  kic
3         38511816  NaN
4         38511909  NaN
5         89111222  NaN
6         89112040  NaN
7         89146939  NaN
...            ...  ...
9488280  276657783  NaN
9488281  276659863  NaN
9488282  367168632  NaN
9488283  375004134  NaN
9488284  375010308  NaN

[9488282 rows x 2 columns]

In [9]:
len(df_tic["id"].unique())

9488282

In [10]:
len(df_tic["kic"].unique())

122967

In [11]:
# join on KIC
df_joined = df.set_index("kic").join(df_tic.set_index("kic"), on="kic", how="inner", lsuffix='_tce', rsuffix='_tic')

In [12]:
len(df_joined.index.unique())

5675

In [13]:
len(df_joined["id"].unique())

5675

In [14]:
df_joined = df_joined.rename(columns={"id": "tic"})

In [16]:
df_joined[["TCE_ID", "tic", "disposition", "not_transit", "pn", "n_plan", "period", "depth"]].to_csv("joined.csv")